body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  background-color: cornflowerblue;
}

form {
  text-align: center;
}

input {
  margin-top: 10px;
  font-size: 20px;
  width: 563px;
  height: 50px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 570px;
  font-size: 30px;
  text-align: center;
  border-collapse: collapse;
}

table th, table td {
  border: 3px solid black;
}

table th {
  background-color: #c0c0c0;
}

.main{
  display: flex;
}
.todo {
  margin-top: 10px;
  margin-left: auto;
  margin-right: 0px;
  word-wrap: break-word;
  font-weight: bold;
  font-size: 20px;
  width: 570px;
  height: 50px;
  border: 1px solid black;
}

.button {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 175px;
}

.btn1 {
  font-size: 15px;
  width: 70px;
  height: 50px;
}

.btn2 {
  width: 70px;
  height: 50px;
}

footer {
  width: 100%;
  margin-top: auto;
  background-color: cornflowerblue;
}